.primary-user-details-wrap {
  background-color: var(--background-color);
  height: auto;
  font-family: var(--font-family);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  min-height: 650px;
  transition: transform 0.3s ease;
}

.update-button {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
}

.first-row-wrap {
  display: flex;
  align-items: flex-start;
}

.first-row-wrap img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 20px;
}

.first-row-wrap span {
  color: var(--text-color);
  font-size: 50px;
}

.other-information-wrap {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allow items to wrap into multiple rows */
  margin-top: 20px; /* Space above the information section */
}

.other-information {
  flex: 1; /* Make this a flex item */
  display: grid; /* Use CSS Grid for the two-column layout */
  grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
  gap: 20px; /* Space between grid items */
}

.info-item {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Slightly tinted background for contrast */
  padding: 10px; /* Padding for better touch target */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.label {
  font-weight: bold; /* Bold labels */
  color: var(--text-color); /* Text color from your CSS variables */
}

.value {
  margin-left: 5px; /* Space between label and value */
  color: var(--text-color); /* Text color from your CSS variables */
}
