:root {
  --primary: #780000;
  --secondary: #c1121f;
  --third: #fdf0d5;
  --fourth: #003049;
  --fifth: #669bbc;

  --background-color: var(--third);
  --text-color: var(--fourth);

  --font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
